p
div.container
    div.row.justify-content-center
        div.col-md-6
            div.card
                header.card-header
                    a.float-right.btn.btn-outline-primary.mt-1 Log in
                    h2.card-tittle.mt-2 Register
