<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Login
        link(rel="stylesheet", href="../public/css/style.css")
    body
        div.container
            div.content
                form(action="#")
                    h1 Login Form
                    div.username
                        input(type="text" placeholder="User Name")
                    div.password
                        input(type="password" placeholder="Password")
                    div.logIn
                        input(type="submit" value="Log in")
                    div.cancel
                        input(type="reset" value="Cancel")

